<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>IRunes</h1>
<ul>
    <li><a href="/Home/Index">Home</a></li>
    <li><a href="/Users/Login">Login</a></li>
    <li><a href="/Users/Register">Register</a></li>
</ul>
<hr />
<h1>Login</h1>
<form action="/Users/Login" method="post">
    <div>
        Username
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        Password
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Login">
</form>
<hr />
<footer>CopyRight &copy; Sanity Design Studios. All rights reserved.</footer>
</body>
</html>