<div class="container">
    <div class="jumbotron">
        <h1>By The Cake</h1>
        <p>Enjoy our awesome cakes</p>
    </div>
</div>

<table class="table table-hover table-striped">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Order</th>
    </tr>
    <tr>
        <td>Chocolate cake</td>
        <td>$10.99</td>
        <td>
            <button class="btn btn-secondary btn-sm">Order</button>
        </td>
    </tr>
    <tr>
        <td>Strawberry cake</td>
        <td>$12.99</td>
        <td>
            <button class="btn btn-secondary btn-sm">Order</button>
        </td>
    </tr>
    <tr>
        <td>Banana cake</td>
        <td>$10.99</td>
        <td>
            <button class="btn btn-secondary btn-sm">Order</button>
        </td>
    </tr>
    <tr>
        <td>Icecream cake</td>
        <td>$10.99</td>
        <td>
            <button class="btn btn-secondary btn-sm">Order</button>
        </td>
    </tr>

</table>