<div class="jumbotron mt-3 bg-panda">
    <h1 class="text-white">Hello, @User.Username</h1>
    <hr class="bg-white hr-2" />
    <div class="d-flex justify-content-between">
        <div class="col-md-3">
            <h5>Pending</h5>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @Model.Pending.Descripion
                        <a href="/packages/details?id=@item.Id" class="btn btn-light"> Details</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <h5>Pending</h5>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @Model.Pending.Descripion
                        <a href="/packages/details?id=@item.Id" class="btn btn-light"> Details</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <h5>Pending</h5>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @Model.Pending.Descripion
                        <a href="/packages/details?id=@item.Id" class="btn btn-light"> Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
