<h1 class="text-center text-mishmash">Following</h1>
<hr class="hr-2 bg-mishmash" />
<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-5">Channel</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-2">Followers</th>
            <th class="col-md-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(var i = 0; i < Model.FollowingChannels.Count(); i++)
        {
        { var item = Model.FollowingChannels.ToList()[i]; }
        { var index = i + 1; }
        <tr class="row">
            <th class="col-md-1">@index</th>
            <td class="col-md-5">@item.Name</td>
            <td class="col-md-1">@item.Type</td>
            <td class="col-md-2">@item.FollowersCount</td>
            <td class="col-md-2">
                <div class="button-holder d-flex justify-content-between">
                    <a class="btn bg-mishmash text-white" href="/Channels/Unfollow?id=@item.Id">Unfollow</a>
                    <a class="btn bg-mishmash text-white" href="/Channels/Details?id=@item.Id">Details</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>