<div class="container-fluid text-center">
    <h2>Welcome, @User.Username !</h2>
</div>
<hr class="my-3">
<div class="container-fluid">
    <div class="row justify-content-around mb-3">
        @if(Model.Users.Count()==0)
        {
        <h3>No new user in database.</h3>
        }
        @for(int i = 0; i < Model.Users.Count(); i++)
        {
        { var item = Model.Users.ToList()[i]; }
        @if (i > 0 && i % 4 == 0)
        {
    </div>
    <div class="row justify-content-around mb-3">
        }
        <div class="card" style="width: 100px">
            @if(@item.Gender == "male")
            {
            <img class="card-img-top" src="/png/male.png" alt="Card image"/>
            }
            @else
            {
            <img class="card-img-top" src="/png/female.png" alt="Card image"/>
            }
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/users/profile?id=@item.Id"> @item.Username</a>
                </h4>
                <form method="post" action="/users/addFriend">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="submit" class="btn btn-primary" value="Add Friend"/>
                </form>
            </div>
        </div>
        }
    </div>
</div>
<hr class="my-3">


