<div>
    @if (Model.UserRole == "Admin")
    {
    <h1 class="text-center text-mishmash">Welcome, Admin-@Model.Username!</h1>
   }
    @else
    {
    <h1 class="text-center text-mishmash">Welcome, @Model.Username!</h1>
    }
</div>

<h5 class="text-mishmash mt-3">Your channels</h5>
<hr class="bg-white hr-2" />
<div class="container-fluid">
    <div class="row justify-content-start">
        @for(var i = 0; i < Model.YourChannels.Count(); i++)
        {
        @if (i % 5 == 0 && i > 1 )
        {
    </div>
    <div class="row justify-content-start mt-3">
        }
        {var item = Model.YourChannels.ToList()[i];}
        <div class="card border-info ml-3 bg-mishmash col-md-2 " >
            <div class="card-body text-center">
                <h5 class="card-title text-white">@item.Name</h5>
                <hr class="bg-white hr-2" />
                <h5 class="card-text text-white">@item.Type Channel</h5>
                <hr class="bg-white hr-2" />
                <h5 class="card-text text-white">@item.FollowersCount Following</h5>
                <hr class="bg-white hr-2" />
                <h5 class="card-text text-white">Following</h5>
            </div>
        </div>
        }
    </div>
</div>
<h5 class="text-mishmash mt-3">Suggested</h5>
<hr class="bg-white hr-2" />
<div class="container-fluid">
    <div class="row justify-content-start">
        @for(var i = 0; i < Model.Suggested.Count(); i++)
        {
        @if (i % 5 == 0 && i > 1 )
        {
    </div>
    <div class="row justify-content-start mt-3">
        }
        {var channel = Model.Suggested.ToList()[i];}
        <div class="card border-info ml-3 bg-mishmash col-md-2 " >
            <div class="card-body text-center">
                <h5 class="card-title text-white">@channel.Name</h5>
                <hr class="bg-white hr-2" />
                <h5 class="card-text text-white">@channel.Type Channel</h5>
                <hr class="bg-white hr-2" />
                <h5 class="card-text text-white">@channel.FollowersCount Following</h5>
                <h5 class="card-text text-white">
                    <a href="/Channels/Follow?id=@channel.Id" class="text-white">Follow</a>
                    <a href="/Channels/Details?id=@channel.Id" class="text-white">Details</a>
                </h5>
            </div>
        </div>
        }
    </div>
</div>
<h5 class="text-mishmash mt-3">See Other</h5>
<hr class="bg-white hr-2" />
<div class="container-fluid mb-3">
    <div class="row justify-content-start">
        @for(var i = 0; i < Model.SeeOther.Count(); i++)
        {
        @if (i % 5 == 0 && i > 1 )
        {
    </div>
    <div class="row justify-content-start mt-3">
        }
        {var other = Model.SeeOther.ToList()[i];}
        <div class="card border-info ml-3 bg-mishmash col-md-2 " >
            <div class="card-body text-center">
                <h5 class="card-title text-white">@other.Name</h5>
                <hr class="bg-white hr-2" />
                <h5 class="card-text text-white">@other.Type Channel</h5>
                <hr class="bg-white hr-2" />
                <h5 class="card-text text-white">@other.FollowersCount Following</h5>
                <h5 class="card-text text-white">
                    <a href="/Channels/Follow?id=@other.Id" class=" text-white">Follow</a>
                    <a href="/Channels/Details?id=@other.Id" class=" text-white">Details</a>
                </h5>
            </div>
        </div>
        }
    </div>
</div>