<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>
    @RenderNav()
<div class="container-fluid">
    @Error
    @RenderBody()
</div>
    <hr class="bg-success"/>
    <footer class="text-center">CopyRight &copy; Sanity Design Studios. All rights reserved.</footer>
    <script src="jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="popper.min.js" type="text/javascript"></script>
    <script src="bootstrap.min.js" type="text/javascript"></script>
</body>
</html>