<div class="card border-info mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap" title="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">"@Model.Name"</h5>
        <p class="card-text"><em>Price: $@Model.Price</em></p>
        <form action="/orders/add" method="post">
            <input type="hidden" name="productId" value="@item.Id" />
            <input class="btn btn-primary" type="submit" value="Order"/>
        </form>        
    </div>
</div>
