<h1>List of my orders</h1>
<a href="/">Back to home</a>
<table class="table table-hover table-striped">
    <tr>
        <th>Order Id</th>
        <th>Created On</th>
        <th>Products Quantity</th>
        <th>Sum</th>
        <th>Finish</th>
    </tr>
    @foreach(var order in Model)
    {
    <tr>
        <td><a href="/orders/byId?id=@order.Id">@order.Id</a></td>
        <td>@order.CreatedOn</td>
        <td>@order.NumberOfProducts</td>
        <td>$ @order.SumOfProductsPrice</td>
        <td>
            @if(@order.IsFinished)
            {
            Finished
            }
            @else
            {
            <form action="/orders/finish" method="post">
                <input type="hidden" name="orderId" value="@order.Id" />
                <input type="submit" class="btn-primary" value="Finish order" />
            </form>
            }
           
        </td>
     </tr>
    }
</table>
<a href="/cakes/search" class="btn btn-secondary">Continue shopping</a>


