 <h2>Add new flight</h2>
<form action="/flights/add" method="post">
    <label for="Destination">Destination:</label>
    <input type="text" placeholder="Destination" id="Destination" name="Destination">
    <label for="Origin">Origin:</label>
    <input type="text" placeholder="Origin" id="Origin" name="Origin">
    <label for="Date">Date:</label>
    <input type="date" id="Date" name="Date">
    <label for="Time">Time:</label>
    <input type="time" id="Time" name="Time">
    <label for="ImageUrl">Image:</label>
    <input type="text" name="ImageUrl" id="ImageUrl">
    <input type="submit" class="create" value="Create">
</form>