<hr class="bg-success"/>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-8">
            @Model.albumDetails
        </div>     
        <div class="row">
            <div class="col-md-6">
                @Model.createTrack
            </div>
            <div class="col-md-6">
                <a href="/Albums/All" class="btn btn-success">Back To All</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Tracks</h4>
        @Model.albumTracks
    </div>
</div>


