<ul class="list-group">
    <li class="list-group-item ">
        <i class="fas fa-home"></i>
        <a href="/">Home</a>
    </li>
    <li class="list-group-item ">
        <i class="fas fa-user-cog"></i>
        <a href="/user/profile">My Profile</a>
    </li>
    <li class="list-group-item ">
        <i class="fas fa-folder-plus"></i>
        <a href="/cakes/add">Add Cake</a>
    </li>
    <li class="list-group-item ">
        <i class="fas fa-search"></i>
        <a href="/cakes/search">Browse Cakes</a>
    </li>
    <li class="list-group-item ">
        <form action="/cakes/search" method="get">
            <input type="text" name="searchText" class="form-control" value=""/>
            <input type="submit" class="form-control btn-primary" value="Search"/>
        </form>    
    </li>
    <li class="list-group-item ">
        <i class="fas fa-info"></i>
        <a href="/about">About Us</a>
    </li>
    <li class="list-group-item ">
        <i class="fas fa-user-slash"></i>
        <a href="/account/logout">Logout</a>
    </li>
</ul>
